<div class="center box">
<h5 style="text-align: center;">新規登録</h5>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <h5>ニックネーム</h5>
        <%= f.text_field :name,
        autocomplete: "name",
        autofocus: true,
        size: "63" %>

      <h5>メールアドレス</h5>
        <%= f.email_field :email,
        autocomplete: "email",
        size: "63" %>

      <h5>パスワード</h5>
        <%= f.password_field :password,
        placeholder:"#{@minimum_password_length}characters minimum",
        autocomplete: "new-password",
        size: "63" %>

      <h5>確認用パスワード</h5>
        <%= f.password_field :password_confirmation,
        placeholder:"確認用パスワード",
        autocomplete: "new-password",
        size: "63" %><br>

      <br>
      <%= f.submit "新規登録" %>

    <% end %>

  <%= render "devise/shared/links" %>

</div>
