<div class="center" style="background-color: #fff; border-radius: 10px; width: 500px; padding: 20px;">

  <p>新規登録</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, placeholder:"ニックネーム", autocomplete: "name", autofocus: true, size: "63" %>
    </div>

    <div class="field">
      <%= f.email_field :email, placeholder:"メールアドレス", autocomplete: "email", size: "63" %>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, placeholder:"パスワード", autocomplete: "new-password", size: "63" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, placeholder:"確認用パスワード", autocomplete: "new-password", size: "63" %>
    </div>

    <div class="actions">
      <%= f.submit "新しく登録する" %>
    </div>

  <% end %>

  <%= render "devise/shared/links" %>

</div>
