<div style="margin: 50px 100px;">
	<h4 class="deco" style="text-align: center; margin-bottom: 30px;">
		<%= @user.name %>を編集
	</h4>

<div style="width: 50%; margin: 0 auto;">
	<%= form_for(@user) do |f| %>
		<div class="field">
			<%= f.label :プロフィール画像 %>
			<%= f.attachment_field :image %>
		</div>

		<div class="field">
			<%= f.label :ニックネーム %><br>
			<%= f.text_field :name %>
		</div>

		<div class="field">
			<%= f.label :自己紹介文 %><br>
			<%= f.text_area :introduction %>
		</div>

		<div class="field actions">
			<%= f.submit "更新する" %>
		</div>
	<% end %>

</div>

</div>