
<div class="center box">

	<%= form_for(@user) do |f| %>

		<h5>アイコン</h5>
			<%= f.attachment_field :image %>

		<h5>ニックネーム</h5>
			<%= f.text_field :name,
			size: "60x5" %>
			<br>

		<h5>自己紹介文</h5>
			<%= f.text_area :introduction,
			size: "60x3" %>
			<br>

		<br>
		<%= f.submit "更新する" %>

	<% end %>

</div>