<h1><%= @user.name %>の投稿　POSTS#SHOW</h1>


<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
<%= @user.name %><br>
<%= @user.introduction %><br>

<% if @user.id == current_user.id %>
	<%= link_to "編集する", edit_user_path(@user), class: "btn btn-default" %>
<% end %>

<% @posts.each do |post| %>
	<div class="row contents" style="margin: 10px 15px;">
		<div class="col">
			<%= link_to "#{post.body}", post_path(post.id) %><br>
			<%= post.opinion %>
		</div>
	</div>
<% end %>
