<h4 class="deco"><%= @user.name %>の投稿</h4>

<!--====== ユーザの紹介。ログイン状態によって編集ボタンを表示する。 ======-->
<div style="text-align: center;">
	<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
	<%= @user.name %><br>

	<%= link_to("/users/#{@user.id}/follow") do %>
		フォロー：<%= @user.following_user.count %>
	<% end %>

	<%= link_to("/users/#{@user.id}/follower") do %>
		フォロワー：<%= @user.follower_user.count %><br>
	<% end %>

	<%= @user.introduction %><br>

	<% if user_signed_in? %>
		<% if @user.id == current_user.id %>
			<%= link_to "編集する", edit_user_path(@user), class: "btn btn-default" %>
		<% elsif @user.id != current_user.id %>
			<% if current_user.following?(@user) %>
			     <%= link_to 'フォロー外す',
					destroy_path(@user.id),
					method: :POST,
					class:"btn btn-default" %>
			<% else %>
			     <%= link_to 'フォローする',
					create_path(@user.id), method: :POST,
					class:"btn btn-default" %>
			<% end %>
		<% end %>
	<% end %>
	</div>

<!--====== 投稿内容をパーシャル化 ======-->
<div><%= render "posts/contents", posts: @posts %></div>
