<div style="margin: 50px 100px;">
	<h4 class="deco" style="text-align: center; margin-bottom: 30px;">
		<%= @user.name %>の投稿
	</h4>

	<div style="text-align: center;">
		<%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
		<%= @user.name %><br>
		<%= @user.introduction %><br>

		<% if user_signed_in? %>
			<% if @user.id == current_user.id %>
				<%= link_to "編集する", edit_user_path(@user), class: "btn btn-default" %>
			<% end %>
		<% end %>
	</div>


	<% @posts.each do |post| %>
		<div class="row contents" style="margin: 10px 100px;">
			<div class="col-xs-2">
				<%= link_to(post.user) do %>
				<%= attachment_image_tag(post.user, :image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
				<% end %>
			</div>
			<div class="col-xs-10">
				<div class="row">
					<%= link_to "#{post.body}", post_path(post.id) %><br>
					<%= post.opinion %>
				</div>

				<% if user_signed_in? %>
					<div class="row">
						<!-- いいね Ajax -->
						<i id="likes_ajax_<%= post.id %>"><%= render "likes/like", post: post %></i>
						<!-- お気に入り Ajax -->
						<i id="favorites_ajax_<%= post.id %>"><%= render "favorites/favorite", post: post %></i>
						<!-- コメント -->
						<%= link_to post_path(post.id) do %>
						<i class="glyphicon glyphicon-comment" aria-hidden="true"></i> <%= post.comments.count %>
						<% end %>
					</div>
				<% else %>
					<div class="row">
						<i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
						<%= post.likes.count %>
						<i class="glyphicon glyphicon-star" aria-hidden="true"></i>
						<i class="glyphicon glyphicon-comment" aria-hidden="true"></i>
						<%= post.comments.count %>
					</div>
				<% end %>
			</div>
		</div>
	<% end %>

</div>