<div style="margin: 50px 100px;">
	<h4 class="deco" style="text-align: center; margin-bottom: 30px;">
		投稿を編集
	</h4>

	<div style="width: 50%; margin: 0 auto;">
		<%= form_for(@post) do |f| %>

			<div class="field">
				<%= f.label :本文 %><br>
				<%= f.text_area :body %>
			</div>

			<div class="field">
				<%= f.label :ジャンル %><br>
				<%= f.select :opinion, [
					["書籍（小説、漫画）", "書籍（小説、漫画）"], 
					["映像（映画・ドラマ・アニメ）", "映像（映画・ドラマ・アニメ）"], 
					["人物（偉人、人物）", "人物（偉人、人物）"], 
					["その他"]] %><br>
			</div>

			<div class="actions">
				<%= f.submit "更新する" %>
			</div>

		<% end %>
	</div>
</div>
