
<h4 class="deco">投稿の詳細</h4>
<div class="row contents">

		<!--==== アイコンエリア ====-->
		<div class="area-icon">
			<%= link_to(@post.user) do %>
			<%= attachment_image_tag(@post.user, :image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
			<% end %>
			</div>

		<!--==== テキストエリア ====-->
		<div class="area-text">

			<div class="row" style="padding-right: 30px;">
				<p class="area-text-main"><%= @post.body %></p>
				<p class="area-text-sub"><%= @post.opinion %></p>
				</div>

		<!--====  いいね・お気に入り・コメントエリア。ユーザのログイン状態によって処理を変更する ====-->
			<!--====  ログイン済み  ====-->
			<% if user_signed_in? %>
				<div class="row" style="padding-right: 30px;">
					<!-- いいね Ajax -->
					<i id="likes_ajax_<%= @post.id %>">
						<%= render 'likes/like', post: @post %>
						</i>
					<!-- お気に入り Ajax -->
					<i id="favorites_ajax_<%= @post.id %>">
						<%= render 'favorites/favorite', post: @post %>
						</i>
					<!-- 編集する・削除する -->
					<% if @post.user == current_user %>
						<i>
							<%= link_to edit_post_path(@post) do %>
								<i class="glyphicon glyphicon-pencil" style="color: green;" aria-hidden="true"></i>
								<% end%>

							<%= link_to @post,method: :delete,data: {confirm: "本当に削除してもよろしいですか？"} do %>
								<i class="glyphicon glyphicon-trash" style="color: red;" aria-hidden="true"></i>
								<% end %>
						</i>
					<% end %>
					</div>

			<!--====  ログインしていない。アイコンを表示するだけ  ====-->
			<% else %>
				<div class="row">

					<%= link_to new_user_session_path do %>
						<i class="glyphicon glyphicon-heart" style="color: #999999;" aria-hidden="true"></i>
						<span style="color: #999999;"><%= @post.likes.count %></span>
						<% end %>

					<%= link_to new_user_session_path do %>
						<i class="glyphicon glyphicon-star" style="color: #999999;" aria-hidden="true"></i>
						<% end %>

					</div>
			<% end %>
		</div>
</div>


<!--========  コメントエリア。限定的にstyleにて余白を調整。 ========-->
<h4 class="deco" style="margin-top: 100px;">コメント <%= @post.comments.count %>件</h4>

<% @post.comments.each do |comment|%>
	<div class="row contents">
		<li style="list-style: none; padding: 0;">
			<%= comment.user.name %>：<%= comment.body %>
			<% if comment.user == current_user %>
				<%= link_to post_comment_path(comment.post, comment), method: :delete do%>
				<i class="glyphicon glyphicon-trash" style="color: red;" aria-hidden="true"></i>
				<% end %>
			<% end %>
			</li>
	</div>
<% end %>

<div style="text-align: center; margin-top: 20px;">
	<% if user_signed_in? %>
		<%= form_for [@post, @comment] do |f| %>
			<%= f.text_area :body, placeholder:"コメントをどうぞ", size: "80px" %><br>
			<%= f.submit "送信する" %>
		<% end %>
	<% end %>
</div>
