<!DOCTYPE html>
<html>
  <head>
    <title>MyLegacy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<!--=================== side-bar ===================-->
      <nav class="side-bar">
        <!-- ログインしている場合 -->
        <% if user_signed_in? %>
            <li class="logo"><%= link_to "myLegacy", root_path %></li>

            <%= link_to user_path(current_user) do%>
            <div class="button_base rollover" style="background-color: #19448e;">
              <%= attachment_image_tag(current_user, :image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
              <p style="margin: 10px 0 0 0;"><%= current_user.name %></p>
            </div>
        <% end %>

            <%= link_to posts_path do %>
                <div class="button_base rollover">最新の投稿</div>
                <% end %>

            <%= link_to user_path(current_user) do %>
                <div class="button_base rollover">マイページ</div>
                <% end %>

            <%= link_to new_post_path do %>
                <div class="button_base rollover">新しく投稿する</div>
                <% end %>

            <%= link_to favorites_path do %>
                <div class="button_base rollover">お気に入りの投稿</div>
                <% end %>

            <%= link_to destroy_user_session_path, method: :delete do %>
                <div class="button_base rollover">ログアウト</div>
                <% end %>

          <!-- 未ログインの場合 -->
        <% else %>
            <li class="logo"><%= link_to "myLegacy", root_path %></li>

            <%= link_to posts_path do %>
                <div class="button_base rollover">最新の投稿</div>
                <% end %>

            <%= link_to '/homes/about' do %>
                <div class="button_base rollover">ABOUT</div>
                <% end %>

            <%= link_to new_user_session_path do %>
                <div class="button_base rollover">ログイン</div>
                <% end %>

            <%= link_to new_user_registration_path do %>
                <div class="button_base rollover">新規登録</div>
                <% end %>
        <% end %>
      </nav>
<!--=================== side-bar ===================-->


<!--=================== main-bar ===================-->
      <main class="main-bar">
          <%= yield %>
      </main>
<!--=================== main-bar ===================-->
  </body>
</html>
