<!DOCTYPE html>
<html>
  <head>
    <title>MyLegacy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- ヘッダー -->
    <header class="container-fluid">
      <p>myLegacy</p>
    </header>

    <!--メインコンテンツ-->
    <div class="container-fluid">
    <!-- サイドバー -->
    <div class="row">
      <nav class="col-xs-2 side-bar" style="padding: 0;">
        <% if user_signed_in? %>
          <!-- ログインしている場合 -->
          <ul>
            <li class="profile">
              <%= attachment_image_tag(current_user, :image_id, :fill, 50, 50, fallback: "no_image.jpg") %><br>
              <%= current_user.name %>
            </li>
            <li><%= link_to 'TOP', posts_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '新しく投稿する', new_post_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>
        <% else %>
          <!-- 未ログインの場合 -->
          <ul>
            <li><%= link_to 'TOP', posts_path %></li>
            <li><%= link_to 'ABOUT', '/homes/about' %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          </ul>
        <% end %>
      </nav>

      <main class="col-xs-10 main-bar">
        <%= yield %>
      </main>

    </div>
    </div>

  </body>
</html>
