<!DOCTYPE html>
<html>
  <head>
    <title>MyLegacy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    
  </head>

  <body>


    <!--メインコンテンツ-->
    <div class="container-fluid">
    <!-- サイドバー -->
    <div class="row">
      <nav class="col-md-2 side-bar" style="padding: 0;">



        <% if user_signed_in? %>
          <!-- ログインしている場合 -->
          <ul>
            <li style="font-family: Optima; font-weight: 900; font-size: 34px; color:#fff;border-bottom: solid 0px #fafafa;">
              <%= link_to "myLegacy", root_path %>
            </li>
            <%= link_to user_path(current_user) do%>
            <li class="profile" style="color: #fff; padding: 0;">
              <%= attachment_image_tag(current_user, :image, :fill, 50, 50, fallback: "no_image.jpg") %><br>
              <p style="margin: 5px 0 10px 0;"><%= current_user.name %></p>
            </li>
            <% end %>
            <li><%= link_to '最新の投稿', posts_path %></li>
            <li><%= link_to 'マイページ', user_path(current_user) %></li>
            <li><%= link_to '新しく投稿する', new_post_path %></li>
            <li><%= link_to 'お気に入りの投稿', favorites_path %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          </ul>

        <% else %>
          <!-- 未ログインの場合 -->
          <ul>
            <li style="font-family: Optima; font-weight: 900; font-size: 34px; color:#fff ">
              <%= link_to "myLegacy", root_path %>
            </li>
            <li><%= link_to '最新の投稿', posts_path %></li>
            <li><%= link_to 'ABOUT', '/homes/about' %></li>
            <li><%= link_to 'ログイン', new_user_session_path %></li>
            <li><%= link_to '新規登録', new_user_registration_path %></li>
          </ul>
        <% end %>

      </nav>

      <main class="col-md-10 main-bar">
        <%= yield %>
      </main>
    </div>
    </div>

  </body>
</html>
